@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --outline: #bfbfbf30;

  --accent-primary : #8E4CFF;
  --accent-secondary : #FF7376;

  --text-primary : #FFFFFF;
  --text-description : #868686;
  --text-highlight : #FFFFFF;
  --text-accent : #8E4CFF;

  --gradient-left:#8E4CFF;
  --gradient-right:#25004C;

  --font-outfit: 'Outfit', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-outline: var(--outline);

  --color-accent-primary: var(--accent-primary);
  --color-accent-secondary: var(--accent-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-description: var(--text-description);
  --color-text-highlight: var(--text-highlight);
  --color-text-accent: var(--text-accent);

  --color-gradient-left: var(--gradient-left);
  --color-gradient-right: var(--gradient-right);

  --font-outfit: var(--font-outfit);
  --font-orbitron: var(--font-orbitron);
}

@layer utilities {
  .font-outift {
    font-family: var(--font-outfit);
  }

  .font-orbitron {
    font-family: var(--font-orbitron);
  }

  .text-gradient {
    background-image: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }


  .border-gradient-horizontal {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #000000, #bfbfbf , #000000);
    border-image-slice: 1;
  }


}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
} 

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
  z-index: -50;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-right {
  animation: marquee-right 20s linear infinite;
  z-index: -50;
}


.card-bg {
  background: rgb(32,15,73);
  background: radial-gradient(circle at bottom, rgba(32,15,73,1) 0%, rgba(19,21,25,1) 70%);
}

